//FOOTER--------

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $footer-h;

  &__texto {
    font-size: 0.8rem;
    &__link {
      color: map-get($color, negro);
    }
  }
}
