//HEADER-------

.header {
  position: relative;
  display: flex;
  justify-content: center;
  background: map-get($color, bg);
  z-index: 1000;
  &__nav {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    max-width: $max-w;
    height: $nav;

    &__logo {
      &__link {
        display: flex;
        align-items: center;
        color: map-get($color, negro);

        &__nombre {
          font-size: 1.2rem;
          line-height: 1rem;
          font-family: $neue;
          height: max-content;
          margin: 0;
        }
        &:hover {
          color: map-get($color, negro);
        }
      }
    }

    &__btn {
      border: none;
      background: none;
      font-size: 1.4rem;
      transition: 0.2s;
      z-index: 3;

      &__icon {
        padding: 0.5rem;
      }

      &:hover {
        @include animacion__links(
          map-get($color, blanco),
          map-get($color, azul)
        );
      }
    }

    &__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100vw;
      transition: 0.2s;
      padding: 10px 0 0 20px;
      background: map-get($color, bg);

      &__list {
        &__item {
          list-style: none;
          padding: 10px 0;
          &__link {
            color: map-get($color, negro);
            padding: 10px;
            transition: 0.2s;
            &:hover {
              @include animacion__links(
                map-get($color, blanco),
                map-get($color, azul)
              );
            }
          }
        }
      }
    }

    .menu-activo {
      top: 0;
    }
  }
}

@media (min-width: 769px) {
  .header {
    &__nav {
      &__btn {
        display: none;
      }

      &__menu {
        position: initial;
        width: max-content;
        padding: 0;
        background: map-get($color, bg);

        &__list {
          display: flex;
        }
      }
    }
  }
}
