//mixin

@mixin animacion__links($color, $bg) {
  color: $color;
  background: $bg;
  cursor: pointer;
}

@mixin links($color, $bg) {
  color: $color;
  background: $bg;
  padding: 10px;
  border-radius: 5px;
}
